{{#if collapse}}
<div class="panel-group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="{{headingId}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{collapseId}}" aria-expanded="true" aria-controls="{{collapseId}}">{{panelTitle}}</a>
      </h4>
    </div>
    <div id="{{collapseId}}"
         class="panel-collapse collapse{{#unless startCollapsed}} in{{/unless}}"
         role="tabpanel" aria-labelledby="{{headingId}}" aria-expanded="true">
      <div class="panel-body">{{panelBody}}</div>
    </div>
  </div>
</div>
{{else}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{panelTitle}}</h4>
  </div>
  <div class="panel-body">{{panelBody}}</div>
</div>
{{/if}}
