{{#if collapse}}
<div role="tablist" aria-multiselectable="true">
  <div class="card">
    <h5 class="card-header" role="tab" id="{{headingId}}">
      <a data-toggle="collapse" class="arrow-toggle" href="#{{collapseId}}" aria-expanded="true" aria-controls="{{collapseId}}">{{cardTitle}}</a>
    </h5>
    <div id="{{collapseId}}"
         class="collapse{{#unless startCollapsed}} show{{/unless}}"
         role="tabpanel" aria-labelledby="{{headingId}}" aria-expanded="true">
      <div class="card-body">{{cardBody}}</div>
    </div>
  </div>
</div>
{{else}}
<div class="card">
  <h5 class="card-header">{{cardTitle}}</h5>
  <div class="card-body">{{cardBody}}</div>
</div>
{{/if}}
